.home-page-container {
  width: 100vw;
  min-height: 100vh;
  padding: 0 2rem;
  box-sizing: content-box;
  //   background-color: #717175;

  h1 {
    color: #4a444c;
    padding: 1rem 0 3rem 1rem;
    margin: 0;
  }

  .add-meeting-button {
    // color: #846542;
    background-color: #dda15c;
    font-size: 0.9rem;
    margin: 0.5rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
  }
}
