.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70%;
  width: 70%;
  padding: 1.5rem 2rem;
  border-radius: 10px;
  background: white;
  text-align: center;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    padding-bottom: 3rem;
    color: #4a444c;
  }

  button {
    height: 3rem;
    background-color: #b6c6f2;
    width: 12rem;
    color: #4a444c;
    border: 0;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1.5rem;
    &:hover {
      background-color: #97bca9;
    }
  }
  .selected {
    background-color: #f67936;
  }

  .roomDetailsWrapper {
    width: 100%;
    border: 2px solid grey;
    margin-bottom: 1rem;
    cursor: pointer;
    border-radius: 10px;
  }
  .room-card {
    text-align: left;
    width: 20rem;
  }
}
