.cardWrapper {
  min-width: 15rem;
  padding: 1.5rem 3rem;
  border-radius: 4px;
  margin-bottom: 1rem;
  background-color: #dda15c;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #4a444c;
  &:hover {
    background-color: #f67936;
  }
  .label {
    font-size: 2rem;
  }
  .value {
    font-size: 1rem;
  }
}
